<nav class="navbar navbar-expand-lg  bg-dark fixed-top">
    <div class="container-fluid ">
      <a href="#" class="px-3">
        <img src="../../assets/favicon/favicon-32x32.png" alt="MI">
      </a>
      <a class="navbar-brand text-white pointer" href="#">Portfolio</a>
      
      <div class="d-flex px-4">
        <app-language-drop-down class="d-lg-none flag-dropdown"></app-language-drop-down>
        <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            &#9776;
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          @for (link of linkList; track $index) {
            <li class="nav-item">
                <a class="nav-link text-white" href="#{{link.id}}" >{{link.label | translate}}</a>
            </li>
          }
        </ul>
    </div>
      <app-language-drop-down class="d-none d-lg-inline"></app-language-drop-down>
    </div>
  </nav>