<div ngbDropdown>
    <button ngbDropdownToggle class="btn btn-dark">
        @if (actualLanguage() == "it") {
            <img [src]="italyPath"  alt="flag" class="flag">
        }
        @else if (actualLanguage() == "en") {
            <img [src]="ukPath"  alt="flag" class="flag">
        }
    </button>    
    <div class="dropdown-menu bg-dark text-white" ngbDropdownMenu>
        <button (click)="setLanguage('it')" class="text-white" ngbDropdownItem>
            <img src="../../assets/italy-flag.svg"  alt="flag" class="flag">
            it
        </button>
        <button (click)="setLanguage('en')" class="text-white" ngbDropdownItem>
            <img src="../../assets/uk-flag.svg"  alt="flag" class="flag">
            en
        </button>
    </div>
</div>