<div class="container py-5">
    <div class="text-white card bg-dark p-5">
        <div class="row ">
            <div class="col-md-6 ">
                <h1 id="title">Hi, i'm Mattia Iaria</h1>
                <label for="title" class="label">Software developer and website designer</label>
                <p>
                    I was born in Italy in 30/11/2003 and i like the world of computer science
                     and software development. <br>
                    My experience in this field starts in March 2023, then i fell in love
                    about programming language.  
                </p>
            </div>
            <div class="col-md-6">
                <img class="img" src="../../assets/img-mock.jpg" alt="Mattia">
            </div>
        </div>
    </div>


    <div class="card bg-dark text-white p-5 my-5">
        <h1 id="title">
            My experience
        </h1>
        <label class="label" for="title">
            Starting as Informatic Consultant, <br>
            i developed for BRT (an important italian courier company): 
        </label>
        <p>
            My career started on March 2023, my first job was about a website
            to book electric scooter in sharing. <br>
            Then i started with my working colleagues a project to recycle food close to expiration,
            in this app you can buy discounted food from markets to avoid waste. <br>
            In June 2023 i started to develop for BRT, 
            which is one of the most important courier company in Italy,
            and i learned a lot of things there. <br>
            For example Kubernetes, Single Spa and a lot of programming languages: 
        </p>
        <p class="d-flex row g-2 mt-2">
            @for (item of experiencesList; track $index) {
                <div class="col-6 col-md-3 ">
                    @if (item.icon != undefined) {
                        <app-card [title]="item.title" [icon]="item.icon"></app-card>
                    }
                    @else {
                        <app-card [title]="item.title" [assetPath]="item.assetPath"></app-card>
                    }
                </div>
            }
        </p>
    </div>
</div>